<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<a th:href="@{/find-user}">Find user on ID</a>
<div>
    <form th:action="@{/}" method="post" th:object="${user}" enctype="multipart/form-data">
        <label>Enter first name :
            <input type="text" th:field="*{firstName}">
        </label>
        <p>
            <label>Enter last name :
                <input type="text" th:field="*{lastName}">
            </label>
        </p>
        <p>
            <label>Enter you mail :
                <input type="email" th:field="*{mail}">
            </label>
        </p>
        <p>
            <label>Enter you password :
                <input type="password" th:field="*{password}">
            </label>
        </p>
        <p>
            Upload you avatar :
            <input type="file" name="file"><br/>
        </p>
        <button type="submit">Save</button>
    </form>
</div>
<div th:if="${id}" th:utext="${id}"
     style="color: green">

</div>
<div th:if="${errorMassage}" th:utext="${errorMassage}"
     style="color: red">
</div>
</body>
</html>