<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<a th:href="@{/}">Create user</a>
<a th:href="@{/find-user}">Find user on ID</a>
<div>
    ID user :
    <p th:text="${user.id}">ID user</p>
    User first name :
    <p th:text="${user.firstName}">User first name</p>
    User last name :
    <p th:text="${user.lastName}">User last name</p>
    User mail :
    <p th:text="${user.mail}">User mail</h>
    User status now :
    <p th:text="${user.statusNow}">User status now</p>
    User previous status :
    <p th:text="${user.previousStatus}">User previous status</p>
    User avatar URL :
    <p th:text="${user.image}">User avatar URL</p>
    <picture th:src="@{image}"></picture>
</div>
</body>
</html>