<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<a th:href="@{/}">Create user</a> |
<a th:href="@{/find-user}">Find user on ID</a>
<div>
    ID user :
    <strong  th:text="${user.id}">ID user</strong>
    <p>__________________________________________________________</p>
    User first name :
    <strong th:text="${user.firstName}">User first name</strong>
    <p>__________________________________________________________</p>
    User last name :
    <strong th:text="${user.lastName}">User last name</strong>
    <p>__________________________________________________________</p>
    User mail :
    <strong th:text="${user.mail}">User mail</strong>
    <p>__________________________________________________________</p>
    User status now :
    <strong th:text="${user.statusNow}">User status now</strong>
    <p>__________________________________________________________</p>
    User previous status :
    <strong th:text="${user.previousStatus}">User previous status</strong>
    <p>__________________________________________________________</p>
    User avatar URL :
    <strong th:text="${user.image}">User avatar URL</strong>
    <p>__________________________________________________________</p>

    <picture th:src="@{image}"></picture>
</div>
</body>
</html>